<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>App Icon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nathanfennel.simplecalendar</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to display and manage events.</string>
	<key>TVTopShelfImage</key>
	<dict>
		<key>TVTopShelfPrimaryImage</key>
		<string>Top Shelf Image</string>
		<key>TVTopShelfPrimaryImageWide</key>
		<string>Top Shelf Image Wide</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>tvOS</string>
	</array>
</dict>
</plist>



