<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nathanfennel.simplecalendar</string>
			</array>
		</dict>
	</array>
	<key>TVTopShelfImage</key>
	<dict>
		<key>TVTopShelfPrimaryImage</key>
		<string>Top Shelf Image</string>
		<key>TVTopShelfPrimaryImageWide</key>
		<string>Top Shelf Image Wide</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar Play needs access to your calendar to display and manage your events.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Calendar Play needs full access to your calendar to create, edit, and delete events.</string>
</dict>
</plist>
